<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- System Permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service
            android:name="com.w2sv.navigator.FileNavigator"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="A service that registers new files entering the file system and emits respective notifications, via which the user can move those new files to a chosen location." />
        </service>

        <service
            android:name="com.w2sv.navigator.quicktile.FileNavigatorTileService"
            android:exported="true"
            android:icon="@drawable/ic_app_logo_24"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <receiver
            android:name="com.w2sv.navigator.PowerSaveModeChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.w2sv.navigator.moving.MoveBroadcastReceiver" />
        <receiver android:name="com.w2sv.navigator.notifications.managers.NewMoveFileNotificationManager$ResourcesCleanupBroadcastReceiver" />

        <activity
            android:name="com.w2sv.navigator.moving.FileMoveActivity"
            android:taskAffinity="com.w2sv.filenavigator.filemoving"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.w2sv.navigator.notifications.ViewFileIfPresentActivity"
            android:noHistory="true"
            android:taskAffinity="com.w2sv.filenavigator.fileviewing"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>