<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Critical Permissions -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />

    <!-- System Permissions -> granted automatically -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <!-- Services -->
        <service
            android:name="com.w2sv.navigator.FileNavigator"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="A service that registers new files entering the file system and emits respective notifications, via which the user can move those new files to a chosen location." />
        </service>

        <service
            android:name="com.w2sv.navigator.quicktile.FileNavigatorTileService"
            android:exported="true"
            android:icon="@drawable/ic_app_logo_24"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="com.w2sv.navigator.moving.BatchMoveService"
            android:exported="false" />

        <!-- Exported System Broadcast Receivers -->
        <receiver
            android:name="com.w2sv.navigator.system_broadcastreceiver.PowerSaveModeChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.w2sv.navigator.system_broadcastreceiver.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Non-exported Broadcast Receivers -->
        <receiver android:name="com.w2sv.navigator.moving.MoveBroadcastReceiver" />

        <!-- Activities -->
        <activity
            android:name="com.w2sv.navigator.moving.activity.FileDestinationPickerActivity"
            android:taskAffinity="com.w2sv.filenavigator.moving"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.w2sv.navigator.moving.activity.BatchMoveDestinationPickerActivity"
            android:taskAffinity="com.w2sv.filenavigator.moving"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.w2sv.navigator.moving.activity.QuickMoveDestinationAccessPermissionQueryActivity"
            android:taskAffinity="com.w2sv.filenavigator.moving"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.w2sv.navigator.moving.activity.ViewFileIfPresentActivity"
            android:noHistory="true"
            android:taskAffinity="com.w2sv.filenavigator.viewing"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.w2sv.navigator.moving.activity.FileDeletionActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="com.w2sv.filenavigator.deletion"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

    </application>

</manifest>
