[versions]
minSdk = "30"  # min for MediaStore.Downloads.EXTERNAL_CONTENT_URI
compileSdk = "34"

agp = "8.4.1"
kotlin = "2.0.0"
java = "17"
ksp = "2.0.0-1.0.21"
triplet-play = "3.9.1"

compose-tooling = "1.6.7"
compose-material3 = "1.2.1"
hilt = "2.51.1"
junit = "4.13.2"
lifecycle = "2.7.0"
room = "2.6.1"
compose-lint-checks = "1.3.1"
kotlinxCollectionsImmutable = "0.3.7"
composed = "0.0.5-rc2"
materialKolor = "1.5.1"
compose-destinations = "2.0.0-beta01"
hiltNavigationCompose = "1.2.0"

[libraries]

# Owned
androidutils = "com.github.w2sv:AndroidUtils:0.3.31-rc1"
kotlinutils = "com.github.w2sv:KotlinUtils:0.0.7-rc2"
composed = { module = "com.github.w2sv.Composed:composed", version.ref = "composed" }
composed-permissions = { module = "com.github.w2sv.Composed:permissions", version.ref = "composed" }

# Androidx
androidx-appcompat = "androidx.appcompat:appcompat:1.6.1"
androidx-core = "androidx.core:core-ktx:1.13.1"
androidx-splashscreen = "androidx.core:core-splashscreen:1.0.1"
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
androidx-compose-material3 = { module = "androidx.compose.material3:material3", version.ref = "compose-material3" }
androidx-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose-tooling" }
androidx-compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose-tooling" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose-tooling" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose-tooling" }
androidx-compose-animation = { module = "androidx.compose.animation:animation", version.ref = "compose-tooling" }
androidx-compose-activity = "androidx.activity:activity-compose:1.9.0"
androidx-activity = "androidx.activity:activity-ktx:1.9.0"
androidx-compose-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
androidx-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "lifecycle" }
androidx-datastore-preferences = "androidx.datastore:datastore-preferences:1.1.1"
androidx-compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose-tooling" }
androidx-lifecycle-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
androidx-hilt-navigation-compose = { module = "androidx.hilt:hilt-navigation-compose", version.ref = "hiltNavigationCompose" }

#.Room
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }

# Google
google-guava = "com.google.guava:guava:33.2.0-jre"

# .Hilt
google-hilt = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
google-hilt-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "hilt" }

# Other
slimber = "com.github.PaulWoitaschek:Slimber:2.0.0"
simplestorage = "com.anggrayudi:storage:1.5.5"
compose-lint-checks = { module = "com.slack.lint.compose:compose-lint-checks", version.ref = "compose-lint-checks" }
kotlinx-collections-immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "kotlinxCollectionsImmutable" }
materialKolor = { module = "com.materialkolor:material-kolor", version.ref = "materialKolor" }
compose-destinations = { module = "io.github.raamcosta.compose-destinations:core", version.ref = "compose-destinations" }
compose-destinations-ksp = { module = "io.github.raamcosta.compose-destinations:ksp", version.ref = "compose-destinations" }

# Testing
junit = { module = "junit:junit", version.ref = "junit" }
androidx-junit = "androidx.test.ext:junit:1.1.5"
roboelectric = "org.robolectric:robolectric:4.11.1"
rules = "androidx.test:rules:1.5.0"

# Plugins
android-gradlePlugin = { group = "com.android.tools.build", name = "gradle", version.ref = "agp" }
kotlin-gradlePlugin = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }
ksp-gradlePlugin = { group = "com.google.devtools.ksp", name = "com.google.devtools.ksp.gradle.plugin", version.ref = "ksp" }

[bundles]
unitTest = ["junit", "androidx-junit", "roboelectric"]

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
kotlin-compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
play = { id = "com.github.triplet.play", version.ref = "triplet-play" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }

# Plugins defined by the project
filenavigator-library = { id = "filenavigator.library", version = "unspecified" }
filenavigator-hilt = { id = "filenavigator.hilt", version = "unspecified" }
filenavigator-room = { id = "filenavigator.room", version = "unspecified" }
