[versions]
agp = "8.8.0"
androidxActivity = "1.10.0"
baselineprofile = "1.3.3"
benchmarkMacroJunit4 = "1.3.3"
# @keep
compileSdk = "35"
# @pin
compose-destinations = "2.0.0-beta12"
compose-lint-checks = "1.4.2"
compose-material3 = "1.3.1"
compose-tooling = "1.7.6"
composed = "0.0.6-rc1"
datastoreutils = "0.0.6-rc2"
hilt = "2.55"
hiltNavigationCompose = "1.2.0"
junit = "4.13.2"
kotlin = "2.1.10"
kotlinutils = "0.1.5-rc2"
kotlinxCollectionsImmutable = "0.3.8"
kotlinxCoroutines = "1.10.1"
ksp = "2.1.0-1.0.29"
ktlint = "12.1.2"
lifecycle = "2.8.7"
materialKolor = "2.0.0"
# @keep
minSdk = "30"
protobuf = "4.29.3"
protobuf-plugin = "0.9.4"
room = "2.6.1"
triplet-play = "3.12.1"
versionCatalogUpdate = "0.8.5"
versions = "0.51.0"

[libraries]
# @keep
android-gradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "agp" }
androidx-activity = { module = "androidx.activity:activity-ktx", version.ref = "androidxActivity" }
androidx-appcompat = "androidx.appcompat:appcompat:1.7.0"
androidx-benchmark-macro-junit4 = { module = "androidx.benchmark:benchmark-macro-junit4", version.ref = "benchmarkMacroJunit4" }
androidx-compose-activity = { module = "androidx.activity:activity-compose", version.ref = "androidxActivity" }
androidx-compose-animation = { module = "androidx.compose.animation:animation", version.ref = "compose-tooling" }
androidx-compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose-tooling" }
androidx-compose-material3 = { module = "androidx.compose.material3:material3", version.ref = "compose-material3" }
androidx-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose-tooling" }
androidx-compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose-tooling" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose-tooling" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose-tooling" }
androidx-compose-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
androidx-core = "androidx.core:core-ktx:1.15.0"
androidx-datastore-preferences = "androidx.datastore:datastore-preferences:1.1.2"
androidx-hilt-navigation-compose = { module = "androidx.hilt:hilt-navigation-compose", version.ref = "hiltNavigationCompose" }
androidx-lifecycle-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-testing = { module = "androidx.room:room-testing", version.ref = "room" }
androidx-splashscreen = "androidx.core:core-splashscreen:1.0.1"
androidx-test-ext-junit = "androidx.test.ext:junit:1.2.1"
androidx-test-rules = "androidx.test:rules:1.6.1"
androidx-test-runner = "androidx.test:runner:1.6.2"
compose-destinations = { module = "io.github.raamcosta.compose-destinations:core", version.ref = "compose-destinations" }
compose-destinations-ksp = { module = "io.github.raamcosta.compose-destinations:ksp", version.ref = "compose-destinations" }
compose-lint-checks = { module = "com.slack.lint.compose:compose-lint-checks", version.ref = "compose-lint-checks" }
google-guava = "com.google.guava:guava:33.4.0-jre"
google-hilt = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
google-hilt-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "hilt" }
junit = { module = "junit:junit", version.ref = "junit" }
# @keep
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlinx-collections-immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "kotlinxCollectionsImmutable" }
kotlinx-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlinxCoroutines" }
# @keep
ksp-gradlePlugin = { module = "com.google.devtools.ksp:com.google.devtools.ksp.gradle.plugin", version.ref = "ksp" }
materialKolor = { module = "com.materialkolor:material-kolor", version.ref = "materialKolor" }
mockito-kotlin = "org.mockito.kotlin:mockito-kotlin:5.4.0"
protobuf-kotlin-lite = { module = "com.google.protobuf:protobuf-kotlin-lite", version.ref = "protobuf" }
protobuf-protoc = { module = "com.google.protobuf:protoc", version.ref = "protobuf" }
roboelectric = "org.robolectric:robolectric:4.14.1"
slimber = "com.github.PaulWoitaschek:Slimber:2.0.0"
textflow = "io.github.oleksandrbalan:textflow-material3:1.2.1"
w2sv-androidutils = "com.github.w2sv.AndroidUtils:core:0.4.4-rc1"
w2sv-composed = { module = "com.github.w2sv.Composed:composed", version.ref = "composed" }
w2sv-composed-permissions = { module = "com.github.w2sv.Composed:permissions", version.ref = "composed" }
w2sv-datastoreutils-datastoreflow = { module = "com.github.w2sv.DataStoreUtils:datastoreflow", version.ref = "datastoreutils" }
w2sv-datastoreutils-preferences = { module = "com.github.w2sv.DataStoreUtils:preferences", version.ref = "datastoreutils" }
w2sv-kotlinutils = { module = "com.github.w2sv:KotlinUtils", version.ref = "kotlinutils" }
w2sv-reversiblestate = "com.github.w2sv:ReversibleStateKt:0.0.6-rc2"
w2sv-simplestorage = "com.github.w2sv:SimpleStorage:2.0.0-0.0.2.1-rc2"

[bundles]
instrumentationTest = [
    "androidx-test-ext-junit",
    "androidx-test-rules",
    "androidx-test-runner",
]
unitTest = [
    "androidx-test-ext-junit",
    "junit",
    "kotlinx-coroutines-test",
    "mockito-kotlin",
    "roboelectric",
]

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
android-test = { id = "com.android.test", version.ref = "agp" }
baselineprofile = { id = "androidx.baselineprofile", version.ref = "baselineprofile" }
# @keep
filenavigator-application = { id = "filenavigator.application" }
# @keep
filenavigator-hilt = { id = "filenavigator.hilt" }
# @keep
filenavigator-library = { id = "filenavigator.library" }
# @keep
filenavigator-room = { id = "filenavigator.room" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version.ref = "ktlint" }
play = { id = "com.github.triplet.play", version.ref = "triplet-play" }
protobuf = { id = "com.google.protobuf", version.ref = "protobuf-plugin" }
versionCatalogUpdate = { id = "nl.littlerobots.version-catalog-update", version.ref = "versionCatalogUpdate" }
versions = { id = "com.github.ben-manes.versions", version.ref = "versions" }
