[versions]
minSdk = "30"  # 29 = min for MediaStore.Downloads.EXTERNAL_CONTENT_URI
compileSdk = "34"

agp = "8.6.1"
kotlin = "2.0.20"
java = "17"
ksp = "2.0.20-1.0.25"
triplet-play = "3.10.1"
protobuf-plugin = "0.9.4"

compose-tooling = "1.7.3"
compose-material3 = "1.3.0"
hilt = "2.52"
junit = "4.13.2"
lifecycle = "2.8.6"
room = "2.6.1"
compose-lint-checks = "1.3.1"
kotlinxCollectionsImmutable = "0.3.7"
composed = "0.0.5-rc2"
materialKolor = "1.7.0"
compose-destinations = "2.0.0-beta01"
hiltNavigationCompose = "1.2.0"
protobuf = "4.27.3"
androidxActivity = "1.9.2"
kotlinutils = "0.1.3-rc1"
datastoreutils = "0.0.4-rc1"
kotlinxCoroutines = "1.9.0"

[libraries]

# Owned
androidutils = "com.github.w2sv.AndroidUtils:core:0.4.2-rc2"
kotlinutils = { module = "com.github.w2sv:KotlinUtils", version.ref = "kotlinutils" }
composed = { module = "com.github.w2sv.Composed:composed", version.ref = "composed" }
composed-permissions = { module = "com.github.w2sv.Composed:permissions", version.ref = "composed" }
reversiblestate = "com.github.w2sv:ReversibleStateKt:0.0.3-rc1"
datastoreutils-preferences = { module = "com.github.w2sv.DataStoreUtils:preferences", version.ref = "datastoreutils" }
datastoreutils-datastoreflow = { module = "com.github.w2sv.DataStoreUtils:datastoreflow", version.ref = "datastoreutils" }
simplestorage = "com.github.w2sv:SimpleStorage:2.0.0-0.0.2.1-rc2"

# Androidx
androidx-appcompat = "androidx.appcompat:appcompat:1.7.0"
androidx-core = "androidx.core:core-ktx:1.13.1"
androidx-splashscreen = "androidx.core:core-splashscreen:1.0.1"
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
androidx-compose-material3 = { module = "androidx.compose.material3:material3", version.ref = "compose-material3" }
androidx-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose-tooling" }
androidx-compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose-tooling" }
androidx-compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose-tooling" }
androidx-compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose-tooling" }
androidx-compose-animation = { module = "androidx.compose.animation:animation", version.ref = "compose-tooling" }
androidx-compose-activity = { module = "androidx.activity:activity-compose", version.ref = "androidxActivity" }
androidx-activity = { module = "androidx.activity:activity-ktx", version.ref = "androidxActivity" }
androidx-compose-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "lifecycle" }
androidx-datastore-preferences = "androidx.datastore:datastore-preferences:1.1.1"
androidx-compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose-tooling" }
androidx-lifecycle-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
androidx-hilt-navigation-compose = { module = "androidx.hilt:hilt-navigation-compose", version.ref = "hiltNavigationCompose" }

# .Room
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx-room-testing = { module = "androidx.room:room-testing", version.ref = "room" }

# Google
google-guava = "com.google.guava:guava:33.2.1-jre"

#. Protobuf
protobuf-kotlin-lite = { group = "com.google.protobuf", name = "protobuf-kotlin-lite", version.ref = "protobuf" }
protobuf-protoc = { group = "com.google.protobuf", name = "protoc", version.ref = "protobuf" }

# .Hilt
google-hilt = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
google-hilt-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "hilt" }
google-hilt-android-testing = { module = "com.google.dagger:hilt-android-testing", version.ref = "hilt" }

# Other
slimber = "com.github.PaulWoitaschek:Slimber:2.0.0"
compose-lint-checks = { module = "com.slack.lint.compose:compose-lint-checks", version.ref = "compose-lint-checks" }
kotlinx-collections-immutable = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "kotlinxCollectionsImmutable" }
materialKolor = { module = "com.materialkolor:material-kolor", version.ref = "materialKolor" }
compose-destinations = { module = "io.github.raamcosta.compose-destinations:core", version.ref = "compose-destinations" }
compose-destinations-ksp = { module = "io.github.raamcosta.compose-destinations:ksp", version.ref = "compose-destinations" }
textflow = { module = "io.github.oleksandrbalan:textflow", version = "1.1.2" }

# Testing
junit = { module = "junit:junit", version.ref = "junit" }
androidx-test-rules = "androidx.test:rules:1.6.1"
androidx-test-runner = "androidx.test:runner:1.6.2"
androidx-test-ext-junit = "androidx.test.ext:junit:1.2.1"
#androidx-test-uiautomator = "androidx.test.uiautomator:uiautomator:2.3.0"
roboelectric = "org.robolectric:robolectric:4.13"
mockito-kotlin = "org.mockito.kotlin:mockito-kotlin:5.4.0"
kotlinx-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "kotlinxCoroutines" }

# Plugins
android-gradlePlugin = { group = "com.android.tools.build", name = "gradle", version.ref = "agp" }
kotlin-gradlePlugin = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }
ksp-gradlePlugin = { group = "com.google.devtools.ksp", name = "com.google.devtools.ksp.gradle.plugin", version.ref = "ksp" }

[bundles]
unitTest = ["junit", "androidx-test-ext-junit", "roboelectric", "mockito-kotlin", "kotlinx-coroutines-test"]
instrumentationTest = ["androidx-test-rules", "androidx-test-runner", "androidx-test-ext-junit"]

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
kotlin-compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
play = { id = "com.github.triplet.play", version.ref = "triplet-play" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
protobuf = { id = "com.google.protobuf", version.ref = "protobuf-plugin" }

# Plugins defined by the project
filenavigator-library = { id = "filenavigator.library", version = "unspecified" }
filenavigator-hilt = { id = "filenavigator.hilt", version = "unspecified" }
filenavigator-room = { id = "filenavigator.room", version = "unspecified" }
