[versions]
minSdk = '29'  # min for MediaStore.Downloads.EXTERNAL_CONTENT_URI
compileSdk = '34'

agp = "8.2.0-rc02"
kotlin = '1.9.10'
java = '17'
ksp = "1.9.10-1.0.13"
triplet-play = '3.8.4'

compose-compiler = '1.5.3'
compose-tooling = "1.5.4"
hilt = '2.48'
junit = '4.13.2'
lifecycle = "2.6.2"
room = "2.6.0"

[libraries]

# Owned
androidutils = 'com.github.w2sv:AndroidUtils:0.3.22-rc2'
kotlinutils = 'com.github.w2sv:KotlinUtils:0.0.7-rc2'

# Androidx
androidx-appcompat = 'androidx.appcompat:appcompat:1.6.1'
androidx-core = "androidx.core:core-ktx:1.12.0"
androidx-splashscreen = 'androidx.core:core-splashscreen:1.0.1'
androidx-lifecycle-runtime = { module = 'androidx.lifecycle:lifecycle-runtime-ktx', version.ref = 'lifecycle' }
androidx-compose-bom = "androidx.compose:compose-bom:2023.10.01"
androidx-compose-material3 = 'androidx.compose.material3:material3:1.1.2'
androidx-compose-ui = { module = 'androidx.compose.ui:ui', version.ref = 'compose-tooling' }
androidx-compose-ui-tooling-preview = { module = 'androidx.compose.ui:ui-tooling-preview', version.ref = 'compose-tooling' }
androidx-compose-ui-tooling = { module = 'androidx.compose.ui:ui-tooling', version.ref = 'compose-tooling' }
androidx-compose-activity = 'androidx.activity:activity-compose:1.8.0'
androidx-activity = 'androidx.activity:activity-ktx:1.8.0'
androidx-compose-viewmodel = { module = 'androidx.lifecycle:lifecycle-viewmodel-compose', version.ref = 'lifecycle' }
androidx-viewmodel = { module = 'androidx.lifecycle:lifecycle-viewmodel-ktx', version.ref = 'lifecycle' }
androidx-datastore-preferences = 'androidx.datastore:datastore-preferences:1.0.0'
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }

# Google
google-material = 'com.google.android.material:material:1.10.0'
google-guava = "com.google.guava:guava:32.0.1-jre"
google-hilt = { module = 'com.google.dagger:hilt-android', version.ref = 'hilt' }
google-hilt-compiler = { module = 'com.google.dagger:hilt-android-compiler', version.ref = 'hilt' }
accompanist-permissions = "com.google.accompanist:accompanist-permissions:0.32.0"

# Other
slimber = 'com.github.PaulWoitaschek:Slimber:2.0.0'
simplestorage = "com.anggrayudi:storage:1.5.5"

# Test
junit = { module = 'junit:junit', version.ref = 'junit' }
androidx-junit = 'androidx.test.ext:junit:1.1.5'
roboelectric = "org.robolectric:robolectric:4.10.3"


[bundles]
unitTest = ["junit", "androidx-junit", "roboelectric"]

[plugins]
application = { id = 'com.android.application', version.ref = 'agp' }
library = { id = 'com.android.library', version.ref = 'agp' }
kotlin = { id = 'org.jetbrains.kotlin.android', version.ref = 'kotlin' }
hilt = { id = 'com.google.dagger.hilt.android', version.ref = 'hilt' }
play = { id = 'com.github.triplet.play', version.ref = 'triplet-play' }
ksp = { id = "com.google.devtools.ksp", version.ref = 'ksp' }
